@model IEnumerable<estudo_mvc.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<br>

<h1>Cadastro de Clientes</h1>



<div class="table-container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="text-align center">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereco</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<a asp-action="Create" class="btn btn-primary btn-lg-4" role="button">Novo Cliente</a>